.navbar-brand img{
    width: 50px;
}

#mainTitle {
    text-align: center;
    margin: 15px 0 30px;
}

/* home */
#contactsTable {
    max-width: 800px;
    margin: 0 auto;
}

#contactsTable thead th {
    color: #FFF;
    background-color: #007BFF !important;
}

.colId {
    font-weight: bold;
}

.actions {
    text-align: right;
    width: 150px;
}

.actions i {
    font-size: 18px;
    margin-right: 5px;
}

.check-icon {
    color: #1E7E34;
}

.delete-icon {
    color: #BD2130;
}

.deleteBtn {
    background-color: transparent;
    border: none;
    padding: 0;
}

#msg {
    color: #155724;
    background-color: #D4EDDA;
    border: 1px solid #C3E6CB;
    padding: 10px;
    text-align: center;
    max-width: 500px;
    margin: 0 auto;
    margin-top: 30px;
    border-radius: 10px;
}

/* contact details */
#viewContactContainer {
    max-width: 500px;
    margin: 0 auto;
}

.bold {
    font-weight: bold;
}

#backLinkContainer {
    display: block;
    width: 500px;
    margin: 30px auto 0;
}

#backLink {
    border: 1px solid #007BFF;
    color: #007BFF;
    border-radius: 5px;
    padding: 5px;
    text-decoration: none;
    transition-duration: 350ms;
}

#backLink:hover {
    background-color: #007BFF;
    color: #fff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

/* create*/
#createForm {
    max-width: 500px;
    margin: 0 auto;
}

@media(max-width: 480px) {
    #home-link {
        display: none;
    }
}